.facebook {
    color: #3c763d;
    background-color: #dff0d8;
}

a.facebook,
button.facebook {
    color: #3c763d;
}

a.facebook .list-group-item-heading,
button.facebook .list-group-item-heading {
    color: inherit;
}

a.facebook:hover,
button.facebook:hover,
a.facebook:focus,
button.facebook:focus {
    color: #3c763d;
    background-color: #d0e9c6;
}

a.facebook.active,
button.facebook.active,
a.facebook.active:hover,
button.facebook.active:hover,
a.facebook.active:focus,
button.facebook.active:focus {
    color: #fff;
    background-color: #3c763d;
    border-color: #3c763d;
}

.instagram {
    color: #31708f;
    background-color: #d9edf7;
}

a.instagram,
button.instagram {
    color: #31708f;
}

a.instagram .list-group-item-heading,
button.instagram .list-group-item-heading {
    color: inherit;
}

a.instagram:hover,
button.instagram:hover,
a.instagram:focus,
button.instagram:focus {
    color: #31708f;
    background-color: #c4e3f3;
}

a.instagram.active,
button.instagram.active,
a.instagram.active:hover,
button.instagram.active:hover,
a.instagram.active:focus,
button.instagram.active:focus {
    color: #fff;
    background-color: #31708f;
    border-color: #31708f;
}