@mixin clearfix() {
    &:before,
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin scale($value) {
    transform: scale($value);
    -webkit-transform: scale($value);
    -moz-transform: scale($value);    
    -o-transform: scale($value);  
    -ms-transform: scale($value);  
}

@mixin scale2D($value, $value2) {
    transform: scale($value, $value2);
    -webkit-transform: scale($value, $value2);
    -moz-transform: scale($value, $value2);    
    -o-transform: scale($value, $value2);  
    -ms-transform: scale($value, $value2);  
}

@mixin translateX($left) {
    transform: translateX($left);
    -webkit-transform: translateX($left);
    -moz-transform: translateX($left);    
    -o-transform: translateX($left);  
    -ms-transform: translateX($left);  
}
@mixin translateZ($left) {
    transform: translateZ($left);
    -webkit-transform: translateZ($left);
    -moz-transform: translateZ($left);    
    -o-transform: translateZ($left);  
    -ms-transform: translateZ($left);  
}
@mixin translateXZ($left,$Z) {
    transform: translateX($left) translateY(0) translateZ($Z);
    -webkit-transform: translateX($left) translateY(0) translateZ($Z);
    -moz-transform: translateX($left) translateY(0) translateZ($Z);    
    -o-transform: translateX($left) translateY(0) translateZ($Z);  
    -ms-transform: translateX($left) translateY(0) translateZ($Z);  
}
@mixin RotatetranslateXZ($left,$Z) {
    transform: rotateX($left) rotateY(0) translateZ($Z);
    -webkit-transform: rotateX($left) rotateY(0) translateZ($Z);
    -moz-transform: rotateX($left) rotateY(0) translateZ($Z);    
    -o-transform: rotateX($left) rotateY(0) translateZ($Z);  
    -ms-transform: rotateX($left) rotateY(0) translateZ($Z);  
}
@mixin translateY($top) {
    transform: translateY($top);
    -webkit-transform: translateY($top);
    -moz-transform: translateY($top);    
    -o-transform: translateY($top);  
    -ms-transform: translateY($top);  
}

@mixin translate2D($x, $y) {
    transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);    
    -o-transform: translate($x, $y);  
    -ms-transform: translate($x, $y);  
}

@mixin translate3D($x, $y, $z) {
    transform: translate3d($x, $y, $z);
    -webkit-transform: translate3d($x, $y, $z);
    -moz-transform: translate3d($x, $y, $z);    
    -o-transform: translate3d($x, $y, $z);    
    -ms-transform: translate3d($x, $y, $z);
}

@mixin rotate($deg) {
    transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);    
    -o-transform: rotate($deg);  
    -ms-transform: rotate($deg);  
}
@mixin rotateX($deg) {
    transform: rotateX($deg);
    -webkit-transform: rotateX($deg);
    -moz-transform: rotateX($deg);    
    -o-transform: rotateX($deg);  
    -ms-transform: rotateX($deg);  
}

@mixin transition($time) {
    transition: all $time ease-out;
    -webkit-transition: all $time ease-out;
    -moz-transition: all $time ease-out;
    -o-transition: all $time ease-out;
    -ms-transition: all $time ease-out;    
}

@mixin transitionAttr($attr, $time) {
    transition: $attr $time ease-out;
    -webkit-transition: $attr $time ease-out;
    -moz-transition: $attr $time ease-out;
    -o-transition: $attr $time ease-out;    
    -ms-transition: $attr $time ease-out;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;    
}

@mixin border-radius-top($radius) {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;    
}

@mixin border-radius-bottom($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    -moz-border-radius-bottomleft: $radius;    
}

@mixin box-shadow($shadow) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;    
}

@mixin transform($transforms) {    
    transform: $transforms;
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -o-transform: $transforms;        
    -ms-transform: $transforms;
    
}

@mixin spin {
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@mixin slideInLeft {
    -webkit-animation: slideInLeft;
    animation: slideInLeft;
}

@mixin blur {    
    opacity: 0.95;
    filter: blur(15px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);        
    -ms-filter: blur(15px);    
}

@mixin opacity($op) {
    opacity: $op;
    filter: alpha(opacity=$op*100);
}

@mixin transition($time) {
    -webkit-transition: all $time ease;
    transition: all $time ease;
}

// Breakpoint
$xlg-width: 1920px;
$lg-width: 1200px;
$md-width: 1025px;
$sm-width: 768px;
$xxs-width: 481px;
$iphone-width:375px;
@mixin xlg {
    @media screen and (min-width: #{$xlg-width}) {
        @content;
    }
}
@mixin lg {
    @media screen and (min-width: #{$lg-width}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 1px}) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: #{$sm-width - 1px}) {
        @content;
    }
}

@mixin xxs {
    @media screen and (max-width: #{$xxs-width - 1px}) {
        @content;
    }
}
@mixin iphone-small {
    @media screen and (max-width: #{$iphone-width - 1px}) {
        @content;
    }
}
@mixin desktop-1 {
    @media screen and (min-width: #{$md-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$md-width}) {
        @content;
    }
}

@mixin device {
    @media screen and (max-width: #{$md-width - 1px}) {
        @content;
    }
}
@mixin device-1 {
    @media screen and (max-width: #{$md-width - 2px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 1px}) {
        @content;
    }
}

@mixin tablet-1 {
    @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 2px}) {
        @content;
    }
}

@mixin bp1024 {
    @media (min-width: #{$md-width - 1px}) and (max-width: #{$md-width - 1px}) {
        @content;
    }
}

@mixin not-mobile {
    @media (min-width: #{$sm-width}) {
        @content;
    }
}

@mixin print {
    @media print {
        @content;
    }
}

@mixin iphoneLandscape {
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        @content;
    }
}

@mixin iphonePortrait {
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        @content;
    }
}

@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin portrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin retina {
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        @content;
    }
}

@mixin print {
    @media print {
        @content;
    }
}
