footer {
    position: fixed;
    height: 46px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
    z-index: 999;
    display: none;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            float: left;
            width: 25%;
            text-align: center;
            padding: - 3;

            &:nth-child(2) {
            }
        }

        a {
            font-size: 30px;

            svg {
                width: 30px;
                height: 30px;
                margin-top: 8px;
            }

            &.active {
                svg {
                    fill: $primary-color;

                    path {
                        fill: $primary-color;
                    }
                }
            }
        }
    }
}
