header {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background: $primary-color;
    color: #fff;
    height: 50px;
    font-family: 'helveticaneuemedium';
    font-size: 18px;
    padding-top: 11px;
    display: none;

    #homeText {
        text-align: center;
        width: 100%;
    }

    .back-group {
        padding: 0 15px;

        a {
            color: #fff;
        }

        i {
            margin-right: 10px;
            font-size: 30px;
            margin-top: -3px;
        }

        &.animating {
            position: absolute;
            top: 11px;
            width: 100%;
            text-align: center;
        }
    }
}
